<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MDBProfile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8B56054C1D90B98C00742A6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B5605631D90B98C00742A6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B56056E1D90B98D00742A6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
