<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MDB Trivia.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>516795D31D8F16DB0033EB25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>516795E71D8F16DB0033EB25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>516795F21D8F16DC0033EB25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
